<h3>Listado de Grupos</h3><br/>

<table>
	<tr>
		<% var i; for (i=0;i<grupos.length;i++){ %>
			<%if(session.user){%>
				<td><%= grupos[i].id %> - <%= grupos[i].curso %>--<%= grupos[i].grupo %></td>       
			<%}%>
				<td>
					<button type="submit" value="<%= grupos[i].id %>">Asignar</button>
				</td>
	</tr>
<% } %>
</table>